@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;
}
.navbar::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    font-size: 1.1rem;
}
.navbar ul li a{
    padding: 5px 20px;
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    border-bottom: 2px solid;
    border-color: rgb(9, 25, 248);
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url('bg.jpg') no-repeat center center/cover;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
.heading{
    color: white;
    font-size: 40px;
    text-align: left;
}

#skills{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}
#skills h1{
    margin: 60px;
}
.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
}

.gallery img:hover
{
    background-color: white;
    cursor: pointer;
}

/* Education Section */
#education{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}
#education h1{
    color: white;
    margin: 60px;
}
.columns{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 50px;
}
.box{
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px 10px 100px 10px;
    padding: 20px;
}
.box h2{
    color: white;
    font-size: 2rem;
    margin-bottom: 40px;
}
.box p{
    color: white;
    font-size: 1.1rem;
}

/* About Section */
#about{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
    text-align: justify;
    color: white;
    height: 100%;
}
#about h1{
    margin: 55px;
}
.about{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.about img
{
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 0px 30px;
}
.name{
    padding: 10px;
}
.name h2{
    font-size: 2rem;
}
.name p{
    font-size: 1.2rem;
}
#about button{
    padding: 15px 20px;
    margin: 30px 450px;
    width: 15%;
    border-radius: 20px;
    background-color: rgb(9, 25, 248);
    color: white;
    border: none;
    outline: none;
}
#about button:hover{
    background-color: #000000dc;
    color: white;
    cursor: pointer;
}

/* Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}
#contact h1{
    margin: 50px 50px 10px 50px ;
}
.gallery2{
    display: flex;
    margin: 0px 0px 0px 40px;
    flex-wrap: wrap;
}

.gallery2 img
{    
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 10px;
}

.gallery2 img:hover
{
    background-color: blue;
    cursor: pointer;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    padding: 15px 20px;
    margin: 15px;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 25px;
}
#message{
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
}
#submit{
    padding: 15px 20px;
    margin: 30px;
    width: 15%;
    border-radius: 20px;
    background-color: rgb(9, 25, 248);
    color: white;
    border: none;
    outline: none;
}
#submit:hover{
    background-color: #000000dc;
    color: white;
    cursor: pointer;
}